.vasyuki-transformation {
  margin-bottom: 200px;
  overflow: hidden;
}

.vasyuki-transformation {
  display: flex;
  flex-direction: column;
}

.vasyuki-transformation__title {
  margin-bottom: 54px;

  font-size: 54px;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 5px;
  color: var(--off-black);

  text-transform: uppercase;
}

.vasyuki-transformation span {
  display: inline-block;

  font-size: 20px;
  font-family: 'Golos-Text', sans-serif;
  font-weight: 400;
  color: var(--neptune-blue);
  line-height: 1.2;
  letter-spacing: 0;
}

.vasyuki-transformation__stages {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 20px;

  font-family: 'Golos-Text', sans-serif;
}

.vasyuki-transformation__stages:before {
  content: '';

  position: absolute;
  bottom: -10px;
  right: -70px;
  width: 450px;
  height: 270px;

  background-image: url('../../../images/vasyuki-transformation/plane.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  z-index: 1;
}

.vasyuki-transformation__stage-item {
  position: relative;

  display: flex;
  gap: 16px;
  height: auto;
  min-height: 112px;

  padding: 20px;

  line-height: 1.2;

  background-image: url('../../../images/vasyuki-transformation/background.png');
}

.vasyuki-transformation__stage-item:nth-child(3) {
  grid-row: span 2;
  grid-column: 3;
}

.vasyuki-transformation__stage-item:nth-child(7) {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.vasyuki-transformation__number {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;

  font-weight: 600;
  font-size: 20px;

  border-radius: 50%;
  background-color: var(--white);
}

.vasyuki-transformation__stage-item p {
  margin-left: 52px;
  width: 100%;
  max-width: 400px;

  font-size: 20px;
  font-weight: 500;
  color: var(--off-black);
}
