.moving-tape {
  display: flex;
  padding: 18px 0;
  justify-content: center;

  overflow: hidden;
  background-color: var(--vermilion-bird);
}

.moving-tape__list {
  display: flex;
  gap: 32px;
  white-space: nowrap;
  flex-wrap: nowrap;

  animation: marquee 25s infinite linear;
}

.moving-tape__item {
  gap: 32px;

  font-family: 'Merriweather', serif;
  font-size: 22px;
  font-weight: 400;
  color: var(--white);
  list-style-type: disc;
  line-height: 1.1;
  text-transform: uppercase;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}
